body, html{
    font-family: 'Raleway', sans-serif;
}

#title {

    background-image: url(images/thumb-1920-550939.jpg);
    background-size: cover;
    background-position: top center;
    height: 1000px;
    width:auto;
}

#title .a {
    color:white;
    font-size: 50px;
    border: 10px solid white;
    position: relative;
    top: 600px;
    width: 400px;
    margin: auto;
    
}




#countries {
    color: red;


}

.bear {
    height:100px;
    width:300px;
    color: whitesmoke;
}